.about {
  padding-top: 100px;
  padding-bottom: 120px;
  
  &--internal {
    padding-top: 60px;
    padding-bottom: 50px;
    
    p {
      margin-top: 0;
      line-height: 30px;
    }
    .about__wrap {
      margin-bottom: 45px;
    }
  }
}

.about__wrap {
  display: flex;
  justify-content: space-between;
}

.about__img {
  width: 47%;
  
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.about__info {
  width: 49%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__list {
  .reset();
  list-style: none;
  
  li {
    position: relative;
    padding-left: 45px;
    margin-bottom: 50px;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 28px;
      background-image: url(../img/icons/pharmacy.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.about__btn {
  max-width: 280px;
  margin-top: auto;
  padding: 20px 40px;
  font-size: 18px;
}
