.form__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.form__column {
  width: 48%;
}

.form__input,
.form__message {
  width: 100%;
  margin-bottom: 40px;
  font-size: 14px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: #fff;
}

.form__input {
  height: 60px;
  padding: 0 20px;
}

.form__message {
  height: 160px;
  min-height: 160px;
  padding: 20px;
}
